# *************************************************************************** */
#                                                                             */
#                                                                             */
#    requirements.txt                                                         */
#                                                                             */
#    By: moeinrz <moeinrezaei330@gmail.com>                                   */
#                                                                             */
#    Created: 2022/12/18 22:04:59 by moeinrz                                  */
#    Updated: 2022/12/18 23:45:49 by moeinrz                                  */
#                                                                             */
# *************************************************************************** */

install streamlit=1.14.0